PORT=8000
MONGODB_URI=mongodb+srv://lugona:121422dpnt@cluster0.sjqk4im.mongodb.net
CORS_ORIGIN =*
ACCESS_TOKEN_SECRET =123lugona
ACCESS_TOKEN_EXPIRY = 1d
REFRESH_TOKEN_EXPIRY =123lugona
REFRESH_TOKEN_EXPIRY = 10d
CLOUDINARY_CLOUD_NAME=dhhztacm4
COUDINARY_API_KEY=671726563595195
CLOUDINARY_API_SECRET=AhyTwqf26oUhmVDM_4ILvAEdRCw